
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}
#showcase img{
  width:90%;
  margin-left:60px;
}

#showcase .showcase-right{
  margin-top:90px;
}
#testimonial{
  /*background: url(../img/gold_bg.jpg) no-repeat;*/
  /*background:#f1f1f1;*/
  /*padding: 50px 0 50px 0;*/
  text-align:center;
  margin-top:40px;
}
#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}
#testimonial .thumbnail {
  background-color: #fff !important;
}
#info1 {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:0;
  // background: url('../../images/gold_bg.jpg');
  background-color: #D1C392;
}
#schedule {
  /*background: url(../img/field_bg.jpg) center center no-repeat;*/
  /*background-size: cover;*/
  margin: 0;
  padding: 2rem 0;
}
.schedule-bg {
  background-color: rgba(255, 255, 255, 0.5);
  // border-radius: 20%;
  color: #000;
}
.schedule-bg h2 {
  margin-top: 30px;
}
.schedule-bg p {
  font-size: 18px;
}
#contact{
  /*background:url(../img/image3.jpg);*/
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}
form {
  background-color: #e5e5e5;
  padding: 2rem;
  border-radius: 5px;
}
form h5 {
  padding: 5px 0 5px 5px;
}

footer{
  padding:30px;
}
